@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Ibarra Real Nova', serif;
	font-size: 25px;
}

th{
	font-family: 'Ibarra Real Nova', serif;
	font-size: 16px;
}

.page-container{
	height: 100%;
	width:calc(100% - 60px);
	width:-webkit-calc(100% - 60px);
	padding: 0;
	margin-left: 50px;
	transition: all 0.5s ease;
}

.page-container .container-fluid{
	padding: 50px;
}

.sidebar.sidebar-active ~ .page-container{
	width:-webkit-calc(100% - 240px);
	width:calc(100% - 240px);
	left: 250px;
}

/*centrer les en tête de table*/
.table th, .table td{
	text-align: center;
}

/*panel*/
.panel{
	background-color:#fff;
	border-radius: 5px;
	margin: 50px auto 0;
}

.panel .panel-header{
	text-align: center;
	padding: 10px;
}

.panel.panel-default{
	border: 1px solid #F1F1F1;
	-webkit-box-shadow:  0 1px 2px rgba(108, 117, 125,0.5);
	-moz-box-shadow:   0 1px 2px rgba(108, 117, 125,0.5);
	box-shadow:   0 1px 2px rgba(108, 117, 125,0.5);
}

/*panel default*/
.panel.panel-default .panel-header{
	background-color: #F1F1F1;
}

.panel.panel-default .panel-header h3{
	color: black;
	font-weight: normal;
}

/*panel primary*/
.panel.panel-primary{
	border: 1px solid #0D6EFD;
	-webkit-box-shadow:  0 1px 2px rgba(13, 110, 253,0.5);
	-moz-box-shadow:   0 1px 2px rgba(13, 110, 253,0.5);
	box-shadow:   0 1px 2px rgba(13, 110, 253,0.5);
}

.panel.panel-primary .panel-header{
	background-color: #0D6EFD;
}

/*panel danger*/
.panel.panel-danger{
	border: 1px solid #DC3545;
	-webkit-box-shadow:  0 1px 2px rgba(220, 53, 69,0.5);
	-moz-box-shadow:   0 1px 2px rgba(220, 53, 69,0.5);
	box-shadow:   0 1px 2px rgba(220, 53, 69,0.5);
}

.panel.panel-danger .panel-header{
	background-color: #DC3545;
}

/*panel success*/
.panel.panel-success{
	border: 1px solid #198754;
	-webkit-box-shadow:  0 1px 2px rgba(25, 135, 84,0.5);
	-moz-box-shadow:   0 1px 2px rgba(25, 135, 84,0.5);
	box-shadow:   0 1px 2px rgba(25, 135, 84,0.5);
}

.panel.panel-success .panel-header{
	background-color: #198754;
}

/*panel success*/
.panel.panel-warning{
	border: 1px solid #FFC107;
	-webkit-box-shadow:  0 1px 2px rgba(255, 193, 7,0.5);
	-moz-box-shadow:   0 1px 2px rgba(255, 193, 7,0.5);
	box-shadow:   0 1px 2px rgba(255, 193, 7,0.5);
}

.panel.panel-warning .panel-header{
	background-color: #FFC107;
}


.panel .panel-header h3{
	color: white;
	font-weight: normal;
}

.panel .panel-body{
	padding: 10px 20px;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*supprimer le box shadow qui apparait lorsque le input a le focus*/
textarea:focus, textarea.form-control:focus, select.form-select:focus,
	input.form-control:focus, input[type=text]:focus, input[type=password]:focus,
	input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus,
	[type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus,
	[contenteditable].form-control:focus {
	box-shadow: none;
	border: none;
}

.error{
	color: #DB2424;
	font-size: 13px;
	font-family: "Open Sans", serif;
	font-weight: bold;
}

.gbadge{
	position: relative;
	display: block;
	background-color: green;
	color: white;
	padding: 20px;
}